<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.longzhou.mapper.LongzhouImageResourcesMapper">
    
    <resultMap type="LongzhouImageResources" id="LongzhouImageResourcesResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="resourceName"    column="resource_name"    />
        <result property="resourceKey"    column="resource_key"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="fileSize"    column="file_size"    />
        <result property="fileType"    column="file_type"    />
        <result property="category"    column="category"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLongzhouImageResourcesVo">
        select resource_id, resource_name, resource_key, file_name, file_path, file_url, file_size, file_type, category, description, status, sort_order, create_by, create_time, update_by, update_time from longzhou_image_resources
    </sql>

    <select id="selectLongzhouImageResourcesList" parameterType="LongzhouImageResources" resultMap="LongzhouImageResourcesResult">
        <include refid="selectLongzhouImageResourcesVo"/>
        <where>  
            <if test="resourceName != null  and resourceName != ''"> and resource_name like concat('%', #{resourceName}, '%')</if>
            <if test="resourceKey != null  and resourceKey != ''"> and resource_key like concat('%', #{resourceKey}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectLongzhouImageResourcesByResourceId" parameterType="Long" resultMap="LongzhouImageResourcesResult">
        <include refid="selectLongzhouImageResourcesVo"/>
        where resource_id = #{resourceId}
    </select>

    <insert id="insertLongzhouImageResources" parameterType="LongzhouImageResources" useGeneratedKeys="true" keyProperty="resourceId">
        insert into longzhou_image_resources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">resource_name,</if>
            <if test="resourceKey != null and resourceKey != ''">resource_key,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileType != null">file_type,</if>
            <if test="category != null">category,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">#{resourceName},</if>
            <if test="resourceKey != null and resourceKey != ''">#{resourceKey},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="category != null">#{category},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLongzhouImageResources" parameterType="LongzhouImageResources">
        update longzhou_image_resources
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">resource_name = #{resourceName},</if>
            <if test="resourceKey != null and resourceKey != ''">resource_key = #{resourceKey},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="category != null">category = #{category},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteLongzhouImageResourcesByResourceId" parameterType="Long">
        delete from longzhou_image_resources where resource_id = #{resourceId}
    </delete>

    <delete id="deleteLongzhouImageResourcesByResourceIds" parameterType="String">
        delete from longzhou_image_resources where resource_id in 
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>
</mapper>