@import './base.css';

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

#app {
  width: 100%;
  min-height: 100vh !important;
  height: auto !important;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: relative !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
